TIENDANUBE_ACCESS_TOKEN=your_token_here
TIENDANUBE_STORE_ID=your_store_id_here

ANTHROPIC_API_KEY=your_key_here

FIREBASE_PROJECT_ID=your_project_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@project.iam.gserviceaccount.com

PORT=3001
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=logistica@altorancho.com
ADMIN_PASSWORD=your_password_here
